<a href="https://colab.research.google.com/github/NicoleAnneDomingo/PLNG211-QC/blob/main/Control_and_Looping_Statement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Equals:a==b
#Not Equals: a!=b
#Less than: a<b
#Less than or equal to: a<=b
#Greater than: a>b
#Greater than or equal to: a>=b

In [ ]:
#If Statement

a= 100
b= 12

if (a>b):
  print("a is less than b")

In [8]:
#Elif Statement
if a<b:
  print("a is less than b")
elif a>b:
  print("a is greater than b")

a is greater than b

In [9]:
if a<b:
  print("a is less than b")
elif a>b:
  print("a is greater than b")
else:
  print("a is equal to b")

a is greater than b

In [11]:
#Short Hand If Statement

c=10
d=5

if c>d: print("c>d")

c>d

In [12]:
#Short Hand If...Else Statement
print("c>d") if c>d else print("d>c")

c>d

In [13]:
#And Statement
if 5>10 and 8>4:
  print("Both statements are true")
else:
  print("One of the statements is false / Both statements are not true")

One of the statements is false / Both statements are not true

In [14]:
#Or Statement
if 5>10 or 4>8:
  print("True")
else:
  print("False")

False

In [15]:
#Bitwise operator ^ (xor)
e=4   #0100 in binary
f=2   #0010 in binary

e^f

6

In [7]:
#APPLICATION 1:
#Write a program that determines if the inout age is qualified to vote or not.
#The qualifying age is 18 years old and above

age = 17
if age>=18:
  print("You are qualified to vote")
else:
  print("You are not qualified to vote")

You are not qualified to vote

In [41]:
#APPLICATION 2: 
#Write a program that determines if the input number is POSITIVE, NEGATIVE, or Zero
x = input()
if int (x) >0:
  print("POSITIVE")
elif int (x) <0:
  print("NEGATIVE")
elif int (x) ==0:
  print("ZERO")

0
ZERO

In [16]:
#For loop Statement
week = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]

for y in week:
  print(y)

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday

In [17]:
week = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]

for y in week:
  print(y)
  if y == "Thursday":
    break

Sunday
Monday
Tuesday
Wednesday
Thursday

In [18]:
week = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]

for y in week:
  if y == "Thursday":
    break
  print(y)

Sunday
Monday
Tuesday
Wednesday

In [19]:
for x in "week":
  print(x)

w
e
e
k

In [20]:
#range () function
for x in range(6):
  print(x)

0
1
2
3
4
5

In [26]:
for x in range (2,6+1):
  print(x)

2
3
4
5
6

In [27]:
#Nested Loop
adjective = ["red","big", "tasty"]
fruits = ["apple","banana","cherry"]
for x in adjective:
  for y in fruits:
    print(x,y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

In [28]:
#While Loop

i =1
while i<6:
  print(i)
  i+=1      #i=i+1

1
2
3
4
5

In [29]:
i =1
while i<=6:
  print(i)
  if i ==3:
    break
  i+=1

1
2
3

In [45]:
#APPLICATION 3
#Using while loop and break statement, the output is only 3

i= 1
while i<=3:
  if i==3:
    print(i)
    break
  i+=1

3