<a href="https://colab.research.google.com/github/NicoleAnneDomingo/PLNG211-QC/blob/main/Domingo%2C_Nicole_Anne_Fundamentals_of_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

***Python*** ***Variable***

In [1]:
x = 1
a,b = 0,-1
a = 9
c = "Sally"
c = "Danny"
print(a)
print(c)
c = "Maria"
print(c)

9
Danny
Maria

***Casting***

In [2]:
d = int(4)
print(d)
e = float(4)
print(e)

4
4.0

***Type () function***

In [3]:
print(type(d))
print(type(e))

<class 'int'>
<class 'float'>

***Single Quote or Double Quote***

In [4]:
f = "Maria"
print(f)
g = "Ana"
print(g)

Maria
Ana

***Multiple Variables***

In [5]:
x,y,z = 4,5,6
print(x)
print(y)
print(z)

4
5
6

***Single Value to Multiple Variables***

In [6]:
x=y=z = "Lilo"
print(x)
print(y)
print(z)

Lilo
Lilo
Lilo

***Output Variable using Print and +***

In [7]:
s = "Python is "
t = "enjoying"
print("Python is "+ t)

print(s + t)

Python is enjoying
Python is enjoying

***Arithmetics***

In [9]:
x = 1
y = 2
sum = x + y
print(x)
print(y)
print(sum)

#modulo division
l = 4%2
print("4%2= ", l)

#floor division
k = 3//2
print("3//2= ",k)

1
2
3
4%2=  0
3//2=  1

***Assignment Operator***

In [13]:
x = 1
x+= 1
print(x)

2