<a href="https://colab.research.google.com/github/NicoleAnneDomingo/PLNG211-QC/blob/main/Python_Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [21]:
#Writing your own function/conversion
def convert_to_celsius(fahrenheit):
  return (fahrenheit-32) * 5/9

def convert_to_kelvin(fahrenheit):
  return ((fahrenheit-32)*5/9) + 273.15

fahrenheit = int(input())

print ("Celcius",round(convert_to_celsius(fahrenheit),2))
print ("Kelvin",round(convert_to_kelvin(fahrenheit),2))

100
Celcius 37.78
Kelvin 310.93

In [22]:
def Name():
  pass

In [17]:
def my_function(fname):
  return(fname + " Sayo")
print(my_function("Mam"))
print(my_function("Maria"))
print(my_function("Rizette"))

Mam Sayo
Maria Sayo
Rizette Sayo

In [20]:
#Returns a value
def myFunction(x):
  return(5+x)
print(myFunction(4))
print(myFunction(5))
print(myFunction(6))

9
10
11

In [36]:
#Exercise 1.1
min(2,3,4)

7

In [25]:
#Exercise 1.2
max(2,-3,4,7,-5)

7

In [26]:
#Exercise 1.3
max(2,-3, min(4,7),-5)

4

In [35]:
#Exercise 2
def sum(num1,num2,num3):
  return num1+num2+num3

def average(num1,num2,num3):
  return (num1+num2+num3)/3

def square(num1,num2,num3):
  return (pow(num1,2)) + (pow(num2,2)) + (pow(num3,2))

print("First number") 
num1 = int(input())
print("Second number") 
num2 = int(input())
print("Third number")
num3 = int(input())

print("Sum =", sum(num1,num2,num3))
print("Average =", average(num1,num2,num3))
print("Sum of Squares =", square(num1,num2,num3))

First number
2
Second number
3
Third number
4
Sum = 9
Average = 3.0
Sum of Squares = 29